<div id="followers-line"></div>

<div class="container">
  <ul id="dropdown" class="dropdown-content">
      <li><a onclick="updateLineData('<%= asset_path "keep/followers/followers_2017.csv" %>')">2017</a></li>
      <li><a onclick="updateLineData('<%= asset_path "keep/followers/followers_2016.csv" %>')">2016</a></li>
      <li><a onclick="updateLineData('<%= asset_path "keep/followers/followers_2015.csv" %>')">2015</a></li>
      <li><a onclick="updateLineData('<%= asset_path "keep/followers/followers_all.csv" %>')">All</a></li>
  </ul>
  <a class="btn dropdown-button" href="#" data-activates="dropdown">Click<i class="mdi-navigation-arrow-drop-down right"></i></a>
</div>


<script>
var margin = {top: 30, right: 20, bottom: 30, left: 100},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var parseDate = d3.time.format("%d-%b-%y").parse;

var x = d3.time.scale().range([0, width]);
var y = d3.scale.linear().range([height, 0]);

var xAxis = d3.svg.axis().scale(x)
    .orient("bottom").ticks(5);

var yAxis = d3.svg.axis().scale(y)
    .orient("left").ticks(5);

var valueline = d3.svg.line()
    .x(function(d) { return x(d.date); })
    .y(function(d) { return y(d.followers); });

var svg = d3.select("div#followers-line").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .attr("class", "d3")
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

// Get the data
d3.csv("<%= asset_path "keep/followers/followers_all.csv" %>", function(error, data) {
    data.forEach(function(d) {
        d.date = parseDate(d.date);
        d.followers = +d.followers;
    });

    // Scale the range of the data
    x.domain(d3.extent(data, function(d) { return d.date; }));
    y.domain([0, d3.max(data, function(d) { return d.followers; })]);

    svg.append("path").attr("class", "line")          // Add the valueline path.
        .attr("d", valueline(data));

    svg.append("g")                     // Add the X Axis
        .attr("class", "x axis")
        .attr("transform", "translate(0," + height + ")")
        .call(xAxis);

    svg.append("g")                     // Add the Y Axis
        .attr("class", "y axis")
        .call(yAxis);

});

function updateLineData(path) {

    // Get the data again
    d3.csv(path, function(error, data) {
        data.forEach(function(d) {
                d.date = parseDate(d.date);
                d.followers = +d.followers;
            });

        // Scale the range of the data again
        x.domain(d3.extent(data, function(d) { return d.date; }));
        y.domain([0, d3.max(data, function(d) { return d.followers; })]);

    // Select the section we want to apply our changes to
    var svg = d3.select("div#followers-line").transition();

    // Make the changes
    svg.select(".line")   // change the line
        .duration(750)
        .attr("d", valueline(data));
    svg.select(".x.axis") // change the x axis
        .duration(750)
        .call(xAxis);
    svg.select(".y.axis") // change the y axis
        .duration(750)
        .call(yAxis);

    });
}
</script>
