<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
        <%= link_to "cloud", "/testA" %> |
        <%= link_to "sentiment", "/testB" %> |
        <%= link_to "followers", "/testC" %> |
        <%= link_to "row", "/testD" %> |
        <%= link_to "row", "/testE" %> |
        <%= link_to "row", "/testF" %> |
        <%= link_to "bar", "/testG" %> |
        <%= link_to "line", "/testH" %> |
        <%= link_to "donut", "/testI" %> |
        <%= link_to "transitions", "/testJ" %> |
        <%= link_to "Home", "/" %>
    </div>
  </nav>
</div>






