<div class="text-center">
<h1>Tweets from Tiny Hands</h1>
<%= link_to "home", "/", :style=>"color:blue" %> |
<%= link_to "followers", followers_path, :style=>"color:blue"  %> |
<%= link_to "time", time_path, :style=>"color:blue"  %> |
<%= link_to "cloud", cloud_path, :style=>"color:blue"  %> |
<%= link_to "sentiment", sentiment_path, :style=>"color:blue"  %> |
<%= link_to "components", components_path, :style=>"color:blue" %>
<hr>
</div>
