<div class="text-center">
  <h1>Tweets from Tiny Hands</h1>

<hr>
<%= link_to "components", components_path, :style=>"color:blue" %> |
<%= link_to "time", time_path, :style=>"color:blue"  %> |
<%= link_to "sentiment analysis", sentiment_path, :style=>"color:blue"  %> |
<%= link_to "cloud", cloud_path, :style=>"color:blue"  %> |
<%= link_to "hehehe", "http://i.imgur.com/meftV0q.gif", :style=>"color:blue"  %>
</div>
