<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
        <%= link_to "A", "/testA" %> |
        <%= link_to "B", "/testB" %> |
        <%= link_to "C", "/testC" %> |
        <%= link_to "D", "/testD" %> |
        <%= link_to "Home", "/" %>
    </div>
  </nav>
</div>






